$violet-1: #7C5DFA;
$violet-2: #9277FF;

$black-1: #1E2139;
$black-2: #0C0E16;
$black-3: #141625;
$black-4: #373B53;

$dark-blue: #252945;

$blue-gray-light: #DFE3FA;
$violet-gray: #888EB0;
$blue-violet: #7E88C3;
$light-violet: #858BB2;

$red: #EC5757;
$red-blurred: #FF9797;

$light-bg: #F8F8FB;
$light-bg-2: #F9FAFE;

$global-bg: #F2F2F2;