@import "./variables";

body,
html,
#app {
    height: 100%;
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

.container {
    max-width: 38.4rem; // 576px
    margin: 0 auto;
}

@media screen and (min-width: $tablet-min) {

    .container {
        // 1090px
        max-width: 74rem;
    }
}

@media screen and (min-width: $desktop-min) {

    .container {
        max-width: 1110px;
        margin: 0 auto;
    }
}