@import "./variables";
@import "./colors";

/* * {
    transition: all 300ms ease-in-out;
} */

body,
html,
#app {
    height: 100%;
}

html {
    font-family: 'Spartan', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.container {
    max-width: 38.4rem; // 576px
    margin: 0 auto;
}

@media screen and (min-width: $tablet-min) {

    .container {
        // 1090px
        max-width: 60.555555rem !important;
        margin: 0 auto;
    }
}

@media screen and (min-width: $desktop-min) {

    .container {
        max-width: 90rem !important; // 1620px
        margin: 0 auto;
    }
}