@use "./breakpoints"as breakpoints;
@use "./mixins"as mixins;
@use "./colors"as colors;

/* @import "./variables";
@import "./colors"; */

*:not(html, body) {
    transition: all 300ms ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 #FFF;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: colors.$blue-gray-light;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: colors.$light-violet;
}

body,
html,
#app {
    height: 100%;
}

html {
    font-family: 'Spartan', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.container {
    max-width: toRem(576, 18); // 576px
    margin: 0 auto;
}

@include mixins.breakpoint-up(medium) {

    .container {
        // 1090px
        max-width: toRem(1090, 18) !important;
        margin: 0 auto;
    }
}

@include mixins.breakpoint-up(large) {

    .container {
        max-width: 90rem !important; // 1620px
        margin: 0 auto;
    }
}