@import "variables";
@import "mixins";

// For responsive

.hide-for-mobile {
    @include breakpoint-up($mobile-min, $mobile-max) {
        // 375px => 767px
        display: none !important;
    }
}

.hide-for-tablet {
    @include breakpoint-up($tablet-min, $tablet-max) {
        // 768px => 1439px
        display: none !important;
    }
}

.hide-for-mobile-and-tablet {
    @include breakpoint-up($mobile-min, $tablet-max) {
        // 768px => 1439px
        display: none !important;
    }
}

.hide-for-desktop {
    @include breakpoint-up($desktop-min, $desktop-max) {
        // 1440px => 2440px
        display: none !important;
    }
}

.hide-for-tablet-and-desktop {
    @include breakpoint-up($tablet-min, $desktop-max) {
        // 375px => 767px
        display: none;
    }
}

.show-flex {
    display: flex;
}

.show-block {
    display: block;
}

.hide {
    display: none;
}

.remove-scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}