/* Devices sizes */
$mobile-min: 0px; // PX
$mobile-max: 767px; // PX
$tablet-min: 768px; // PX
$tablet-max: 1439px; // PX
$desktop-min: 1440px; // PX
$desktop-max: 4440px; // PX


/* Layout values */